@import "colors";

.admin {
  width: 100%;
  min-height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  display: flex;
  background-color: $background;
  overflow: hidden;

  &--mobile{
    height: 100%;
    flex-direction: column;
    
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15.625rem;
  background-color: $white;

  &__title {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    margin-top: 0;
    padding: 2rem 0;
    border-bottom: 1px solid $divider;

    &--mobile{
      padding: 1rem 0;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    &--mobile{
      flex-direction: row;
      
    }
  }
}

.content {
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}
