$primary: #005098;
$primary-dark: #00417a;
$primary-light: #0f80e2;
$white: #ffffff;
$background: #f6f6f6;
$hover: #f7f7f7;
$divider: rgba(0, 0, 0, 0.07);
$error: #d31823;

$text-over-primary: #ffffff;
$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.4);

$outline: rgba(0, 0, 0, 0.2);
$disable-button: rgba(256, 256, 256, 0.2);

$navbar-height: 70px;
