@import "colors";

.home {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height});
  background-color: $background;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}
